@model Ik.ItAdmin.Web.Models.LoginViewModel
@{
    Layout = null;
    var webRoot = Url.Content("~/");
    webRoot = webRoot == "/" ? "" : webRoot;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/commonstyle.css" rel="stylesheet" />
    <link href="~/Content/css/pagestyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/framework.js"></script>
    <script>
        if (window.top != window.self) {
            window.top.window.location.href = "/Account/Login";
        }
    </script>
</head>
<body onkeydown="KeyDown()" id="loginPanel">
    @using (Html.BeginForm())
    {
        <div class="banner">
            <span class="shadow">&nbsp;</span>
            <div class="login">
                <div class="title">运维管理平台</div>
                <div class="item">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr height="40px">
                            <td width="135px" class="label">用户名：</td>
                            <td class="value">
                                @Html.TextBoxFor(d => d.UserName, new { @class = "wiscoinput", @tabIndex = "1" })
                            </td>
                        </tr>
                        <tr height="40px">
                            <td width="135px" class="label">密&nbsp;&nbsp;码：</td>
                            <td class="value">
                                @Html.PasswordFor(d => d.Password, new { @class = "wiscoinput", @tabIndex = "2" })
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="handle">
                                <a href="#" class="wiscobutton" onclick="Login();"><span class="left"></span><span class="center">&nbsp;登&nbsp;录&nbsp;</span><span class="right"></span></a>&nbsp;
                                <a href="#" onclick="$('#loginPanel form').reset();" class="wiscobutton"><span class="left"></span><span class="center">&nbsp;清&nbsp;空&nbsp;</span><span class="right"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="warning" id="loginWarning">
                                &nbsp;
                                @Html.ValidationMessageFor(d => d.UserName, "", new { @class = "warning" })
                                @Html.ValidationMessageFor(d => d.Password, "", new { @class = "warning" })
                            </td>
                        </tr>
                        <tr height="40px">
                            <td width="135px" class="label">&nbsp;</td>
                            <td class="value">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="copyright">重庆秒银科技有限公司&nbsp;<font face="Tahoma">&copy;</font>&nbsp;版权所有</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</body>
</html>
<script>
    function KeyDown() {
        if (window.event.keyCode == 13) {
            event.returnValue = false;
            event.cancel = true;
            Login();
        }
    }

    function Login()
    {
        var username = $("#UserName").val();
        var password = $("#Password").val();

        if (username == "") {
            $("#loginWarning").text("用户名不能为空！");
            return false;
        }
        if (password == "") {
            $("#loginWarning").text("密码不能为空！");
            return false;
        }
        var formData = $("#loginPanel form").serialize();
        $.post("/Account/Login/", formData, function (result) {
            debugger
            if (result.Code == 100) {
                window.location = "/Home/Index";
            } else if (result.Code == 60009) {
                $("#loginWarning").text("此帐号不能在此登录");
            } else {
                var message = result.Desc != null ? result.Desc : "登录失败：用户名或密码不正确!!!";
                $("#loginWarning").text(message);
            }

        });
    }
</script>

