@model IList<Ik.ItAdmin.Web.Dtos.CfgEnvironment>
@{
    Layout = "";
}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="head">功能列</td>
        <td class="head">标识</td>
        <td class="head">环境名称</td>
        <td width="100%" class="head">描述</td>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td class="link">
                    <a style="font-family:Arial" href="#" onclick="showWiscoDialog('@Url.Content("~/config/CfgEnvEdit?id=" + item.EnvId)', 400, 250,null,null,null,cfgEnvTableRetrunValue);">修改&nbsp;&nbsp;</a>|
                    @Ajax.ActionLink("删除", "CfgEnvDelete", new { id = item.EnvId }, new AjaxOptions { OnSuccess = "onSuccessCfgEnvDelete" })
                </td>
                <td class="data">@item.Key</td>
                <td class="data">@item.Name</td>
                <td class="data">@item.Desc</td>
        </tr>
        }
    }
</table>
<script>
    initWiscoGrid("wiscogrid1");
    function onSuccessCfgEnvDelete(result)
    {
        if(!result.IsSuccess)
        {
            alert(result.Desc);
        }
    }

    function cfgEnvTableRetrunValue(argu) {
        if (argu == "success") {
            $.ajax({
                url: "/Config/GetCfgEnvList",
                type: "get",
                cache: false
            }).done(function (html) {
                $("#wiscogrid1").html(html);
            });

        }
    };
</script>

