@model Ik.ItAdmin.Web.Dtos.CfgItemVersionEnvironment
@{
    ViewBag.Title = "数据项添加";
    IEnumerable<SelectListItem> envSelectList = ViewBag.EnvSelectList;
}
@section headerScripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" class="infoeditpage">
    @using (Ajax.BeginForm("SaveCfgItem", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "checkSaveCfgItemForm", OnSuccess = "onSuccessSaveCfgItemForm" }, new { @id = "SaveCfgItemForm" }))
    {
         @Html.HiddenFor(m => m.ItemType) 
        @Html.HiddenFor(m => m.DefId) 
        <tr height="24px">
            <td class="title">数据项添加</td>
        </tr>
        <tr>
            <td>
                <div class="info">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr height="10px">
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr height="30px">
                            <td width="100px" class="label">标识：</td>
                            <td width="240px" class="value">
                                @Html.TextBoxFor(d => d.Key, new { @class = "wiscoinput" })
                            </td>
                            <td width="5px" class="sign">*</td>
                        </tr>
                        <tr height="30px">
                            <td width="100px" class="label">版本：</td>
                            <td width="240px" class="value">
                                @Html.TextBoxFor(d => d.Version, new { @class = "wiscoinput" })
                            </td>
                            <td width="5px" class="sign">*</td>
                        </tr>    
                        <tr height="30px">
                            <td width="100px" class="label">环境：</td>
                            <td width="240px" class="value">
                                @Html.DropDownListFor(d => d.EnvId, envSelectList, "请选择...", new { @class = "wiscoinput" })
                            </td>
                            <td width="5px" class="sign">*</td>
                        </tr>
                        <tr class="area">
                            <td width="100px" class="label">值：</td>
                            <td width="240px" class="value">
                               @Html.TextAreaFor(d => d.Value, new { @class = "wiscotextarea", @style = "width: 235px;" })
                            </td>
                            <td width="5px" class="sign">*</td>
                        </tr>
                        <tr height="10px">
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr class="area">
                            <td width="100px" class="label">描述：</td>
                            <td width="240px" class="value">
                                @Html.TextAreaFor(d => d.ItemDesc, new { @class = "wiscotextarea", @style = "width: 235px;" })
                            </td>
                            <td width="5px" class="sign">&nbsp;</td>
                        </tr>
                        <tr height="10px">
                            <td colspan="3">&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr height="35px">
            <td class="handle">
                <a href="#" class="wiscobutton" onclick="$('#SaveCfgItemForm').submit();"><span class="left"></span><span class="center">保存</span><span class="right"></span></a>
                <a href="#" class="wiscobutton" onclick="hideWiscoDialog();"><span class="left"></span><span class="center">取消</span><span class="right"></span></a>
            </td>
        </tr>
    }
</table>
<script>
    function checkSaveCfgItemForm() {
        var itemKey = $("#Key").val();
        var itemVersion = $("#Version").val();
        var itemEnv = $("#EnvId").val();
        var itemValue = $("#Value").val();
        if (itemKey == "") {
            alert("数据项标识不能为空！");
            return false;
        }
        if (itemKey.length >= 20) {
            alert("数据项标识不能超过20个字符");
            return false;
        }
        if (itemVersion == "") {
            alert("版本不能为空！");
            return false;
        }
        if (itemVersion.length >= 10) {
            alert("版本不能超过10个字符");
            return false;
        }

        if (itemEnv == "") {
            alert("环境不能为空！");
            return false;
        }
        if (itemValue == "") {
            alert("版本不能为空！");
            return false;
        }
        return true;
    }

    function onSuccessSaveCfgItemForm(result) {
        if (result.IsSuccess) {
            alert("数据项保存成功");
            var dialog = getWiscoDialog();
            dialog.argu = "success";
            hideWiscoDialog();
        }
        else if (result.Code == -101)
        {
            alert(result.Desc);
        }
        else {
            alert("数据项保存失败");
        }
    }
</script>



