
@{
    ViewBag.Title = "全局数据项管理";
}
@section headerScripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" class="listpage">
    <tr height="24px">
        <td class="title">全局数据项管理<span class="arrowdown" onclick="foldSearchPanel(this);"></span></td>
    </tr>
    <!--One Row : 70px, Two Rows : 100px, Three Rows : 130px-->
    <tr height="70px">
        @using (Ajax.BeginForm("GetCfgItemList", null, new AjaxOptions { UpdateTargetId = "wiscogrid1" }, new { @id = "CfgItemListForm" }))
        {
            <td id="search1" class="search">
                <span class="label">数据项标识：</span><span class="value"><input type="text" name="key" class="wiscoinput" /></span><span>&nbsp; &nbsp;</span>
                <span class="label">版本：</span><span class="value"><input type="text"  name="ver" class="wiscoinput" /></span><span>&nbsp; &nbsp;</span>
                <span class="label">环境：</span><span class="value"><input type="text"  name="env" class="wiscoinput" /></span><span>&nbsp; &nbsp;</span><br />
                <a href="#" class="wiscobutton" onclick="$('#CfgItemListForm').submit();"><span class="left"></span><span class="center">查询</span><span class="right"></span></a>
                <a href="#" class="wiscobutton" onclick="$('#CfgItemListForm')[0].reset();"><span class="left"></span><span class="center">清空</span><span class="right"></span></a>
            </td>
        }
    </tr>
    <tr height="35px">
        <td id="handle1" class="handle">
            <a href="#" class="wiscobutton" onclick="showWiscoDialog('@Url.Content("~/Config/CfgItemAdd?itemType=1")', 450, 400,null,null,null,RetrunValue);"><span class="left"></span><span class="center">新增数据项</span><span class="right"></span></a>
            <a href="#" class="wiscobutton" onclick="addCfgItemVer();"><span class="left"></span><span class="center">新增版本数据项</span><span class="right"></span></a>
            <a href="#" class="wiscobutton" onclick="addCfgItemVerEnv();"><span class="left"></span><span class="center">新增环境数据项</span><span class="right"></span></a>
            <a href="#" class="wiscobutton" onclick="editCfgItem();"><span class="left"></span><span class="center">修改数据项标识</span><span class="right"></span></a>
            <a href="#" class="wiscobutton" onclick="editCfgItemVer();"><span class="left"></span><span class="center">修改版本</span><span class="right"></span></a>
            <a href="#" class="wiscobutton" onclick="editCfgItemVerEnvValue();"><span class="left"></span><span class="center">修改环境数据值</span><span class="right"></span></a>
            <a href="#" class="wiscobutton" onclick="cfgItemDeleteAll();"><span class="left"></span><span class="center">删除数据项</span><span class="right"></span></a>
            <a href="#" class="wiscobutton" onclick="cfgItemVerDeleteAll();"><span class="left"></span><span class="center">删除版本</span><span class="right"></span></a>
            <a href="#" class="wiscobutton" onclick="cfgItemVerEnvDeleteAll();"><span class="left"></span><span class="center">删除数据值</span><span class="right"></span></a>
        </td>
    </tr>
    <tr>
        <td class="grid">
            <div id="wiscogrid1" class="wiscogrid">
                @Html.Action("GetCfgItemList");
            </div>
        </td>
    </tr>
    <tr height="30px" id="pager1">
        <td>
            @Html.Partial("_HtmlPagerEmpty")
        </td>
    </tr>
</table>

<script>
    var pager = new initInkeyPager($("#pager1"), $("#CfgItemListForm"), $("#wiscogrid1"));

    function getSelectId()
    {
        var ids = [];
        $("#wiscogrid1").find("input[name='codeids']").each(function () {
            if (this.checked) {
                ids.push(this.value);
            }
        });
        if (ids.length == 0) {
            alert("请选择需要操作的数据项");
            return;
        }
        if (ids.length > 1) {
            alert("只能选择一个数据项");
            return;
        }

        return ids[0];
    }

    function getAllSelectId() {
        var ids = [];
        $("#wiscogrid1").find("input[name='codeids']").each(function () {
            if (this.checked) {
                ids.push(this.value);
            }
        });
        if (ids.length == 0) {
            alert("请选择需要操作的数据项");
            return;
        }

        return ids;
    }

    function addCfgItemVer()
    {
        var id = getSelectId();
        if (id == null) {
            return;
        }
        showWiscoDialog('@Url.Content("~/Config/CfgItemVerAdd?ids=")' + encodeURIComponent(id), 450, 400, null, null, null, RetrunValue);
    }

    function addCfgItemVerEnv() {
        var id = getSelectId();
        if (id == null) {
            return;
        }
        showWiscoDialog('@Url.Content("~/Config/CfgItemVerEnvAdd?ids=")' + encodeURIComponent(id), 450, 400, null, null, null, RetrunValue);
    }

    function editCfgItem() {
        var id = getSelectId();
        if (id == null) {
            return;
        }
        showWiscoDialog('@Url.Content("~/Config/CfgItemEdit?ids=")' + encodeURIComponent(id), 450, 400, null, null, null, RetrunValue);
    }

    function editCfgItemVer() {
        var id = getSelectId();
        if (id == null) {
            return;
        }
        showWiscoDialog('@Url.Content("~/Config/CfgItemVerEdit?ids=")' + encodeURIComponent(id), 450, 400, null, null, null, RetrunValue);
    }

    function editCfgItemVerEnvValue() {
        var id = getSelectId();
        if (id == null) {
            return;
        }
        showWiscoDialog('@Url.Content("~/Config/CfgItemVerEnvEdit?ids=")' + encodeURIComponent(id), 450, 400, null, null, null, RetrunValue);
    }

    function RetrunValue(argu) {
        if (argu == "success") {
            pager.reloadGrid();
        }
    };

    function cfgItemDeleteAll() {
        var ids = getAllSelectId();
        if (ids == null) {
            return;
        }
        $.ajax({
            url: "/Config/CfgItemDeleteAll",
            data: { ids: ids.join(",") },
            cache: false
        }).done(function (result) {
            if (!result.IsSuccess) {
                alert(result.Desc);
                if (result.Code == -101) {
                    pager.reloadGrid();
                }
            }
            else {
                pager.reloadGrid();
            }
        });
    }

    function cfgItemVerDeleteAll() {
        var ids = getAllSelectId();
        if (ids == null) {
            return;
        }
        $.ajax({
            url: "/Config/CfgItemVerDeleteAll",
            data: { ids: ids.join(",") },
            cache: false
        }).done(function (result) {
            if (!result.IsSuccess) {
                alert(result.Desc);
                if (result.Code == -101) {
                    pager.reloadGrid();
                }
            } else {
                pager.reloadGrid();
            }
        });
    }

    function cfgItemVerEnvDeleteAll() {
        var ids = getAllSelectId();
        if (ids == null) {
            return;
        }
        $.ajax({
            url: "/Config/CfgItemVerEnvDeleteAll",
            data: { ids: ids.join(",") },
            cache: false
        }).done(function (result) {
            if (!result.IsSuccess) {
                alert(result.Desc);
                if (result.Code == -101) {
                    pager.reloadGrid();
                }
            } else {
                pager.reloadGrid();
            }
        });
    }

</script>